.main-footer {
    background-color: var(--dark-color);
    color: #FFF;
    font-size: 0.75rem;
    font-weight: normal;
    line-height: 16px;
    padding: 10px 0;
    text-align: center;
}

.footer-icons {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.footer-icons > * {
    margin-right: 5px;
}
